<div class="container-fluid">
  <h2 class="text-center fw-bold py-4">Base de Datos - SignSync</h2>
  <div class="row">
    <!-- CONTENIDO -->
    <div class="col-md-12 bg-white rounded-3 p-3">
      <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
          <a class="nav-link" href="/tablas/">Tablas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/tablas/usuarios">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tablas/empresas">Empresas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tablas/contratos">Contratos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/tablas/contratistas">Contratistas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tablas/paquetes">Paquetes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/tablas/documentos">Documentos</a>
        </li>
      </ul>

      <div class="table-container">
        <div class="container mt-4">
          <div class="row">
            <div class="col-10">
              <h2 class="text-center mb-4">Contratistas</h2>
            </div>
            <div class="col-2">
              <button (click)="showModal('')" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary btn-sm">Crear contratistas</button>
            </div>
          </div>
          <table class="table table-striped table-bordered">
            <thead class="table-dark">
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Ocupacion</th>
                <th>Domicilio</th>
                <th>edad</th>
                <th>Télefono</th>
                <th>ID Empresa</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contratista of contratistas?.contratistas">
                <td>{{ contratista?.idContratista }}</td>
                <td>{{ contratista?.nombre }}</td>
                <td>{{ contratista?.ocupacion }}</td>
                <td>{{ contratista?.domicilio }}</td>
                <td>{{ contratista?.edad }}</td>
                <td>{{ contratista?.telefono }}</td>
                <td>{{ contratista?.id_empresa }}</td>
                <td>
                  <button (click)="showModal(contratista?.idContratista)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary btn-sm">Editar</button>
                </td>
                <td>
                  <button (click)="deleteContratista(contratista?.idContratista)"  class="btn btn-danger btn-sm">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- MODAL -->

<div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">

  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 *ngIf="id_contratista" class="modal-title fs-5" id="exampleModalLabel">Modificar contratista</h1>
        <h1 *ngIf="!id_contratista" class="modal-title fs-5" id="exampleModalLabel">Registrar contratista</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="cerrar"></button>
      </div>
      <div class="modal-body">
        <div>
          <form [formGroup]="formgroup" (ngSubmit)="edit_submit()">
            <div class="mb-3 formulario-group">
              <label for="nombre">Nombre: </label>
              <input type="text" formControlName="nombre" placeholder="Ingresa el nombre del contratista">
            </div>
            <div class="mb-3 formulario-group">
              <label for="Ocupacion">Ocupacion: </label>
              <input  type="text" formControlName="ocupacion" placeholder="Ingresa la ocupación del contratista">
            </div>
            <div class="mb-3 formulario-group">
              <label for="domicilio">Domicilio: </label>
              <input  type="text" formControlName="domicilio" placeholder="Ingresa el domicilio del contratista">
            </div>
            <div class="row mb-3">
              <div class="col formulario-group">
                <label for="edad">Edad: </label>
                <input  type="number" formControlName="edad" placeholder="Ingresa la edad del contratista">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col formulario-group">
                <label for="telefono">Teléfono: </label>
                <input  type="telefono" formControlName="telefono" placeholder="Ingresa el telefono del contratista">
              </div>
            </div>
            <div class="col-6 inline">
              <label for="idEmpresa" class="w-100">Empresa: </label>
              <select formControlName="idEmpresa" id="empresa-select">
                <option *ngFor="let empresa of empresas?.empresa" [value]="empresa.idEmpresa">
                    {{empresa?.nombre}} - {{empresa?.idEmpresa}}
                </option>
              </select>
            </div>
            <div class="d-flex flex-row-reverse">
              <button *ngIf="id_contratista" type="submit" class="enviar">Editar contratista</button>
              <button *ngIf="!id_contratista" type="submit" class="enviar">Registrar contratista</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

