.formulario-group{
  display: flex;
  flex-direction: column;
}
.formulario-group input{
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
}
.formulario-group select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}
.formulario-group textarea{
  min-height: 80px;
  max-height: 120px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 12px;
}
.enviar{
  background-color: #7a97ff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.agregar{
  color: #7a97ff;
  cursor: pointer;
}
.agregar:hover{
  color: #5a7cf7;
}


.table-container table td {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-container table td.break-word {
  white-space: normal;
  word-wrap: break-word;
}
.pago {
  color: rgb(79, 189, 79) !important; /* Texto en verde para pagos realizados */
  font-weight: bold;
}

.no-pago {
  color: red !important; /* Texto en rojo para pagos pendientes */
  font-weight: bold;
}
