

<div class="container my-4">
  <h1 class="text-center mb-4">Métricas de Usuario</h1>
  <div class="row g-4">

    <!-- Registros Diarios -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          Registros Diarios
        </div>
        <div class="card-body">
          <canvas  #registroChartCanvas></canvas>
        </div>
      </div>
    </div>

    <!-- Distribución por Sexo -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-success text-white">
          Distribución por Sexo
        </div>
        <div class="card-body">
          <canvas  #sexoChartCanvas></canvas>
        </div>
      </div>
    </div>

  </div>
</div>

