<nav class="mb-2">
  <div class="row ps-md-5 py-md-4 py-3 ps-1 w-100 mx-auto align-content-center">
    <div class="col-md-4 d-flex align-items-center ">
      <div class="container_img">
        <img src="Logo.png" alt="" class="img-fluid">
      </div>
      <h1 class="ms-3 titulo">sign sync dev</h1>
    </div>
    <div class="col-md-4 d-flex align-items-center my-2 my-md-0">
      <div class="bg-white p-2 w-100 d-flex align-items-center" style="max-height: 44px; border-radius: 20px;">
        <input type="text" name="" id="" class="bg-none input_busqueda" placeholder="Buscar">
        <i class="bi bi-search my-2 d-none d-lg-inline-block"></i>
      </div>
    </div>
    <div class="col-md-4 row ps-md-4 py-md-4  justify-content-end align-items-center my-2 my-md-0">
      <div class="col-5 col-md-4 iconos_menu border-end border-light-subtle border-2">
        <i class="bi bi-person-plus mx-1" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalToggle2"></i>
        <i type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="bi bi-plus-circle mx-1"></i>
        <i class="bi bi-bell mx-1" data-bs-toggle="offcanvas" data-bs-target="#notificaciones" aria-controls="notificaciones" type="button"></i>
      </div>
      <div class="col-6 d-flex align-items-center">
        <div class="container_perfil rounded-circle">
          <img src="user.png" alt="" class="w-100 rounded-circle">
        </div>
        <div class="dropdown">
          <p class="m-0 ms-3" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="user-select: none">
            {{usuario}}
          </p>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/miperfil">Mi perfil</a></li>
            <!-- <li><a class="dropdown-item" href="/miempresa">Mi empresa</a></li> -->
            <!-- <li><a class="dropdown-item" href="/contratos">Mis contratos</a></li> -->
            <li><a class="dropdown-item" (click)="cerrarsesion()" style="cursor: pointer;">Cerrar sesión</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="row ps-md-2 ps-3 w-100">
  <div class="col-md-1 d-flex justify-content-center align-items-center flex-md-column">
    <div class="menu-item mx-1">
      <a href="/metricas"><i class="fa-solid fa-chart-simple"></i></a>
    </div>
    <div class="menu-item mx-1">
      <a href="/dashboard/graficas"><i class="bi bi-pie-chart-fill"></i></a>
    </div>
    <div class="menu-item mx-1">
      <a href="/tablas"><i class="fa-solid fa-database"></i></a>
    </div>
  </div>
  <div class="col-md-11">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="notificaciones" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Notificaciones</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    ...
  </div>
</div>

<div class="overlay z-2" *ngIf="cargando || empresacreada"></div>
<div class="bg-light w-25 position-absolute top-50 start-50 translate-middle p-5 text-center rounded-3 border z-3" *ngIf="cargando">
  <h3>Cargando</h3>
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="bg-light w-25 position-absolute top-50 start-50 translate-middle p-5 text-center rounded-3 border z-3"  *ngIf="empresacreada">
  <h3>Empresa Creada</h3>
  <div>
    <i class="bi bi-check-circle text-success" style="font-size: 3rem;"></i>
  </div>
  <!-- <button class="enviar" (click)="terminar()">Terminar</button> -->
</div>
